<a href="https://colab.research.google.com/github/Dawon00/Data_Mining/blob/main/Series_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series

In [1]:
from pandas import Series

s = Series([3.1, 2.4, -1.7, 0.2, -2.9, 4.5]) # creating a series from a list
print(s)
print('Values=', s.values) # display values of the Series
print('Index=', s.index) # display indices of the Series

0    3.1
1    2.4
2   -1.7
3    0.2
4   -2.9
5    4.5
dtype: float64
Values= [ 3.1  2.4 -1.7  0.2 -2.9  4.5]
Index= RangeIndex(start=0, stop=6, step=1)

In [2]:
print(s.mean())

0.9333333333333332

In [3]:
import numpy as np

s2 = Series(np.random.randn(6)) # creating a series from a numpy ndarray
print(s2)
print('Values=', s2.values) # display values of the Series
print('Index=', s2.index) # display indices of the Series

0    1.409386
1    0.653113
2   -1.251956
3   -0.519311
4    2.016997
5    0.588262
dtype: float64
Values= [ 1.40938582  0.65311348 -1.25195562 -0.5193105   2.01699722  0.58826208]
Index= RangeIndex(start=0, stop=6, step=1)

In [5]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2], 
 index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6']) #label
 
print(s3)
print('Values=', s3.values) # display values of the Series
print('Index=', s3.index) # display indices of the Series

Jan 1    1.2
Jan 2    2.5
Jan 3   -2.2
Jan 4    3.1
Jan 5   -0.8
Jan 6   -3.2
dtype: float64
Values= [ 1.2  2.5 -2.2  3.1 -0.8 -3.2]
Index= Index(['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6'], dtype='object')

In [6]:
capitals = {'MI': 'Lansing', 'CA': 'Sacramento', 'TX': 'Austin', 'MN': 'St Paul'} #딕셔너리 형태로

s4 = Series(capitals) # creating a series from dictionary object
print(s4)
print('Values=', s4.values) # display values of the Series
print('Index=', s4.index) # display indices of the Series

MI       Lansing
CA    Sacramento
TX        Austin
MN       St Paul
dtype: object
Values= ['Lansing' 'Sacramento' 'Austin' 'St Paul']
Index= Index(['MI', 'CA', 'TX', 'MN'], dtype='object')

In [8]:
s3 = Series([1.2,2.5,-2.2,3.1,-0.8,-3.2], 
 index = ['Jan 1','Jan 2','Jan 3','Jan 4','Jan 5','Jan 6',])

print(s3)

# Accessing elements of a Series

print('\ns3[2]=', s3[2]) # display third element of the Series
print('s3[\'Jan 3\']=', s3['Jan 3']) # indexing element of a Series 

print('\ns3[1:3]=') # display a slice of the Series
print(s3[1:3])
print('s3.iloc([1:3])=') # display a slice of the Series
print(s3.iloc[1:3])

Jan 1    1.2
Jan 2    2.5
Jan 3   -2.2
Jan 4    3.1
Jan 5   -0.8
Jan 6   -3.2
dtype: float64

s3[2]= -2.2
s3['Jan 3']= -2.2

s3[1:3]=
Jan 2    2.5
Jan 3   -2.2
dtype: float64
s3.iloc([1:3])=
Jan 2    2.5
Jan 3   -2.2
dtype: float64

In [9]:
print('shape =', s3.shape) # get the dimension of the Series
print('size =', s3.size) # get the # of elements of the Series

shape = (6,)
size = 6

In [10]:
print(s3[s3 > 0]) # applying filter to select elements of the Series

Jan 1    1.2
Jan 2    2.5
Jan 4    3.1
dtype: float64

In [11]:
print(s3 + 4) # applying scalar operation on a numeric Series
print(s3 / 4)

Jan 1    5.2
Jan 2    6.5
Jan 3    1.8
Jan 4    7.1
Jan 5    3.2
Jan 6    0.8
dtype: float64
Jan 1    0.300
Jan 2    0.625
Jan 3   -0.550
Jan 4    0.775
Jan 5   -0.200
Jan 6   -0.800
dtype: float64

In [12]:
print(np.log(s3 + 4)) # applying numpy math functions to a numeric Series

Jan 1    1.648659
Jan 2    1.871802
Jan 3    0.587787
Jan 4    1.960095
Jan 5    1.163151
Jan 6   -0.223144
dtype: float64

#DataFrame

In [14]:
from pandas import DataFrame

cars = {'make': ['Ford', 'Honda', 'Toyota', 'Tesla'],
 'model': ['Taurus', 'Accord', 'Camry', 'Model S'],
 'MSRP': [27595, 23570, 23495, 68000]} 
carData = DataFrame(cars) # creating DataFrame from dictionary
carData

     make    model   MSRP
0    Ford   Taurus  27595
1   Honda   Accord  23570
2  Toyota    Camry  23495
3   Tesla  Model S  68000

In [15]:
print(carData.index) # print the row indices
print(carData.columns) # print the column indices

RangeIndex(start=0, stop=4, step=1)
Index(['make', 'model', 'MSRP'], dtype='object')

In [16]:
carData2 = DataFrame(cars, index = [1,2,3,4]) # change the row index
#print(carData2)
carData2['year'] = 2018 # add column with same value
carData2['dealership'] = ['Courtesy Ford','Capital Honda','Spartan Toyota', 'N/A']
carData2

     make    model   MSRP  year      dealership
1    Ford   Taurus  27595  2018   Courtesy Ford
2   Honda   Accord  23570  2018   Capital Honda
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A

#Creating DataFrame from a list of tuples.

In [18]:
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = DataFrame(tuplelist, columns=columnNames)
weatherData

   year  temp  precip
0  2011  45.1    32.4
1  2012  42.4    34.5
2  2013  47.2    39.2
3  2014  44.2    31.4
4  2015  39.9    29.8
5  2016  41.5    36.7